<section class="property-binding">

	<article>
		<h3>Class e Style Bindings</h3>
		<div>
			Selecione uma classe:
			<select #classe (change)="0">
				<option value="alert-success">Sucesso</option>
				<option value="alert-info">Info</option>
				<option value="alert-warning">Alerta</option>
				<option value="alert-danger">Erro</option>
			</select>
			<br><br>

			<div class="alert {{ classe.value }}" role="alert">
				Texto colorido conforme valor do combobox.
			</div>

			<div class="alert" role="alert" [class.alert-success] = "classe.value == 'alert-success'">Sucesso</div>
			<div class="alert" role="alert" [class.alert-info] 		= "classe.value == 'alert-info'">Info</div>
			<div class="alert" role="alert" [class.alert-warning] = "classe.value == 'alert-warning'">Alerta</div>
			<div class="alert" role="alert" [class.alert-danger]  = "classe.value == 'alert-danger'">Erro</div>

			<div class="alert alert-danger" role="alert" 
				[style.display] = "classe.value == 'alert-danger' ? 'block' : 'none'">Este texto aparece apenas em caso de erro.</div>

		</div>
	</article>
	
</section>